
.nav {
 
  animation: mymove 3s;
}
@keyframes toTop {
  from {
    top: 0;
  }
  to {
    top: -1rem;
  }
}


@keyframes mymove {
  0% {
    top: 0px;
    background: #ff0000;
    width: 100px;
  }
}
